h1 {
    color: #b5525c
}

h2 {
   color: rgb(181, 82, 92, 0.5) ; 
   font-style: italic;
}

.container-fluid{
    padding: 7% 15%;
  }


/* Navbar Styling */
.header-navbar {
    border-bottom: 2px #6bc5d2 solid;
    
}

.navbar {
    background-color: #d2fafb;
}

.nav-item {
    border-right: 2px #6bc5d2 solid;
    padding: 0 25px;
    font-weight: 700;
    font-size: 1.15rem;  
}

.nav-link {
    color: #6bc5d2;
}


.search-box {
    background-color: #F5F5F5;
}

.search-btn {
    background-color: #6bc5d2;
    color: #d2fafb;

}

.search-btn:hover{
    background-color:#d2fafb;
    color: #6bc5d2;
}


/* Header Section Styling */

.section-title {
    background-color: rgb(210, 250, 251, 0.4);
}

.title-container{
    padding: 20px 10px 30px 10px;
}

.title-section {
    text-align: center;
    margin-top: 20px;
    margin-right: 100px;
}


.title-section h1 {
    font-size: 5rem;
    font-weight: 700;
}

.title-section h2 {
    font-size: 2.5rem;
    font-weight: 400;
}


.title-quote{
    font-size: 1rem;
    font-weight: 200;
    margin-top: 50px;
}

.header-image {
    border:7px double #6bc5d2;
    height: auto;
    width: 250px;
    margin: 20px 5px;
    padding:8px 15px;
}




  /* Great Minds Section Styling */

.minds-container {
      background-color: #6bc5d2;
      padding:35px 25px;
  }

.card {
    margin: 50px 25px;
    border: 8px #b5525c double;
}



.card-image {
    width:200px;
    height: 200px;
    padding-bottom: 5px;
}
.card-image:hover {
transform: rotate(8deg);
}



  
  /* Images Section Styling */
  
.image-carousel-container {
    margin: 3rem 0;
  }


.carousel-item img {  
   width: 30%;
  }

   
.carousel-caption {
    color:black;
    font-size:0.75rem;
    text-align:left;
    width: 200px;
    line-height: 1.75rem;
    height: fill-available;
}

.carousel-control-next, .carousel-control-prev {
    width:5%;
    top: 45%;
    bottom: 45%;
}

.carousel-control-prev {
    left:4rem
}

.carousel-control-next {
    right:4rem;
}


.control-btn {
    background-color: #b5525c;
}




  
  /* Survey Section Styling */
  
  .survey-section-container {
 
    padding:10px 25px;
    background-color: #d2fafb;
  }
  .survey-section-container h2 {
      text-align: center;
      padding: 20px 0;
      color:#6bc5d2;
      font-weight: 600;
  }

  .survey-section-container .main-labels {
      font-weight: 700;
      text-decoration: underline;
      color:#6bc5d2;
  }

  .survey-section-container .question-label {
      font-weight: 500;
      color:#6bc5d2;
  }

  .survey-btn {
    background-color: #6bc5d2;
      
  }
  .survey-btn:hover {
    background-color: #105e62;
    color: #6bc5d2;
  }




  /* Footer Section Styling */

.footer {
    padding:30px 0 20px 0;
    text-align: center;
}

.links p {
    font-size: small;
    color: #b5525c;
    font-weight: 600;
}

.footer-icon {
    margin: 20px 10px;
    color: #b5525c;
    font-size: large;
}



  /* SETTING RESPONSIVENESS */


 @media screen and (max-width: 1084px) {
    .carousel-caption {
        width: 120px;
        line-height: normal;
        font-size:0.65rem;
    }

}


 @media screen and (max-width: 768px) {

    .title-section {
        margin: auto;
        text-align: center;
    }
    .title-section h1 {
        font-size: 3rem;
        
    }
    .title-section h2 {
        font-size: 2rem;
    }
    .title-quote h3 {
        font-size: 1.25rem;
    }
    .title-quote {
        font-size: 1rem;
    }
    
    .carousel-indicators {
        display: none;;
    }

    .carousel-item img{
        width:95%;
    }

    .control-btn {
        color: white;
    }

    .carousel-caption {
        display: none;
    }
}
